{{set . "title" "kernl - connections"}}
{{template "header.html" .}}
<div class="container">
  <div class="row">
    <div class="span12">
      <form method="get" action="/connections/verify">
        <div class="input-append">
          <input class="span4" name="q" type="text" placeholder="Search For User">
          <button class="btn" type="button">Go!</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="span12">
      <table class="table table-bordered">
        {{range .list.Connections}}
        <tr>
          <td>
            {{.AccountIdentifier}}
          </td>
        </tr>
        {{end}}
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
