{{set . "title" "kernl - connections"}}
{{template "header.html" .}}
<div class="container">
  <div class="row">
    <div class="span12">
            {{template "Connections/SearchForm.html" .}}
    </div>
  </div>
  <div class="row">
    <div class="span9">
      <table class="table table-bordered connections-table">
        {{range .list.Connections}}
                  {{template "Connections/LineItem.html" .}}
        {{else}}
          <tr>
            <td>
              No One Found
            </td>
          </tr>
        {{end}}
      </table>
    </div>
    <div class="span3">
      <ul class="nav nav-pills nav-stacked">
        <li><a href="/connections" title="All">All</a></li>
        <li><a href="/connections/inbound" title="Inbound">Inbound</a></li>
        <li class="active"><a href="/connections/outbound" title="Outbound">Outbound</a></li>
        <li><a href="/connections/mutual" title="Mutual">Mutual</a></li>
        <li><a href="/connections/blocked" title="Blocked">Blocked</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
