{{set . "title" "kernl - verify connection"}}
{{template "header.html" .}}
{{if .has_errors }}
We can not find that user right now, please check the address or try again later.
{{else}}
<div class="container">
  <div class="row">
    <table class="table table-bordered">
      <tr>
        <th>Account Identifier</th><td>{{.person.AccountIdentifier}}</td>
      </tr>
      <tr>
        <th>Profile</th><td><a href="{{.person.ProfileUrl}}" target="_blank">{{.person.ProfileUrl}}</a></td>
      </tr>
    </table>
    <form method="post" action="/connections">
      <input type="hidden" name="ident" value="{{.person.AccountIdentifier}}" />
      <input type="submit" value="Follow" />
    </form>
  </div>
</div>
{{end}}

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
