/* Bootstrap Overrides */
.navbar-inner {
  font-family: 'American Typewriter';
}

h5 {
  font-family: 'American Typewriter';
  font-size: 1.3em;
  font-weight: 400;
}
/* * /

/* Intro/Unauthed area */

div.kernl-intro {
  border-radius: 0px;
  -webkit-box-shadow: 0 0 10px 5px #aaa;
  -moz-box-shadow: 0 0 10px 5px #aaa;
  box-shadow: 0 0 10px 5px #aaa;
}

/* */

/* News Feed */
#news-feed {
  margin: 10px 0 0 0;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.news-item {
  margin: 10px 0 0 0;
  overflow: hidden;
}

.news-left {
  float: left;
}

.news-right {
  float: left;
  margin: 0 0 0 10px;
}

.news-photo {
  width: 50px;
  height: 50px;
  border: 1px solid #CECECE;
}

.news-name a { font-size: 14px; color: #3D2B1F; font-weight: bold; }
.news-content { margin: 0 0 2px 0; width: 430px; 
  font-size: 13px;
}
.news-actions a { font-size: 12px; color: #841B2D; }
.news-time { color: #999999; font-size: 11px; }

.comments-container { overflow: hidden; margin: 3px 0 0 0;}
.likes-summary { border: 1px solid #CECECE; margin: 0 0 5px 0; 
  font-size: 11px;
  text-align: center;
  padding: 1px 0 1px 0; display: none;}
.comment { overflow: hidden; margin: 3px 0 0 0; background-color: #FFF; padding: 0px;}
.comment-left { float: left; }
.comment-right { float: left; margin: 0 0 0 7px; width: 350px; }
.comment-right a { font-size: 11px; color: #3D2B1F; font-weight: bold; }
.comment-actions a { font-size: 11px; color: #841B2D; font-weight: normal; }
.comment-content { font-size: 11px; line-height: 15px; }
.comment-time { color: #999999; font-size: 11px; }

.comment-photo {
  width: 30px;
  height: 30px;
  border: 1px solid #CECECE;
}

/* */

/* Connections Area */
table.connections-table td {
  line-height: 32px;
}
/* */
