{{set . "title" "kernl."}}
{{template "header.html" .}}
<div class="container">
  <div class="row">
    <div class="span3">
    </div>
    <div class="span4">

      <h3>Authorize {{.app_title}}?</h3>

      <p>You are logged in as <strong id="username">{{.user.DisplayName}}</strong>.</p>
        
      <p>Do you want to authorize {{.client.Title}}?</p>

      <form method="post">
        <input type="hidden" id="oauth_token" name="oauth_token" value="{{.request_token.Token}}"/>
        <input type="hidden" id="verifier" name="verifier" value="{{.request_token.Verifier}}"/>
        <input type="submit" class="btn btn-primary" id="authorize" value="Authorize"/>
      </form>
    </div>
    <div class="span3">
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="span6">
      {{template "flash.html" .}}
    </div>
  </div>
</div>

{{template "footer.html" .}}
