<div class="comment">
  <div class="comment-left">
    <div class="comment-photo"></div>
  </div>
  <div class="comment-right">
    <div class="comment-content">
      <span class="comment-name"><a href="/david">David Ferrer</a></span>
      This is some neat stuff. I just pledged. I think 3d printing and action
      figures are a natural marriage and it's interesting to see folks trying to get ahead of that curve.
    </div>
    <div class="comment-actions">
      <span class="time">43 minutes ago via mobile</span>
      ·
      <a href="#" class="comment-like">like</a>
      <span class="display-likes">· 1</span>
    </div>
  </div>
</div>
