<!DOCTYPE html>

<html>
  <head>
    <title>{{.title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/public/css/kernl.css">
    <!--
    <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
    -->
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    {{range .moreStyles}}
    <link rel="stylesheet" type="text/css" href="/public/{{.}}">
    {{end}}
    {{range .moreScripts}}
    <script src="/public/{{.}}" type="text/javascript" charset="utf-8"></script>
    {{end}}
  </head>
  <body>
    {{if .user}}
    <div class="navbar">
      <div class="navbar-inner">
        <a class="brand" href="/">kernl.</a>
        <ul class="nav">
          <li><a href="/">feed</a></li>
          <li><a href="/{{.user.Slug}}">my page</a></li>
          <li><a href="/connections">connections</a></li>
        </ul>
        <ul class="nav pull-right">
          <li><a>{{.user.Email}}</a></li>
          <li><a href="/settings">settings</a></li>
          <li><a href="/logout">logout</a></li>
        </ul>
      </div>
    </div>
    {{end}}
