<div class="news-left">
  <div class="news-photo"></div>
</div>
<div class="news-right">
  <div class="news-name"><a href="{{.AuthorUrl}}">{{.DisplayName}}</a></div>
  <div class="news-content">
    {{.Message}}
  </div>
  <div class="news-actions">
    <a href="#" class="news-like">like</a>
    ·
    <a href="#" class="news-comment">comment</a>
    ·
    {{if .Public}}
    <a href="#" class="news-share">share</a>
    ·
    {{end}}
    <span class="time">{{.HumanTime}}</span>
  </div>
  <div class="news-footer">
    <div class="likes-summary">
      1 person likes this
    </div>
    {{range .Comments}}
      {{template "comment.html" .}}
    {{end}}
  </div>
</div>
