<div class="news-left">
  <div class="news-photo"></div>
</div>
<div class="news-right">
  <div class="news-name"><a href="/ryan">{{.DisplayName}}</a></div>
  <div class="news-content">
    {{.Message}}
  </div>
  <div class="news-actions">
    <a href="#" class="news-like">like</a>
    ·
    <a href="#" class="news-comment">comment</a>
    ·
    <a href="#" class="news-share">share</a>
    ·
    <span class="time">{{.HumanTime}}</span>
  </div>
  <div class="news-footer">
    <div class="likes-summary">
      1 person likes this
    </div>
    <div class="comment">
      <div class="comment-left">
        <div class="comment-photo"></div>
      </div>
      <div class="comment-right">
        <div class="comment-content">
          <span class="comment-name"><a href="/juan">Juan Martin</a></span>
          I'll never forget the spring the deer took out everything Scott 
          had so lovingly planted. He's not had the same spirit for gardening since then.
        </div>
        <div class="comment-actions">
          <span class="time">43 minutes ago via mobile</span>
          ·
          <a href="#" class="comment-like">like</a>
          <span class="display-likes">· 1</span>
        </div>
      </div>
    </div>
    <div class="comment">
      <div class="comment-left">
        <div class="comment-photo"></div>
      </div>
      <div class="comment-right">
        <div class="comment-content">
          <span class="comment-name"><a href="/david">David Ferrer</a></span>
          This is some neat stuff. I just pledged. I think 3d printing and action
          figures are a natural marriage and it's interesting to see folks trying to get ahead of that curve.
        </div>
        <div class="comment-actions">
          <span class="time">43 minutes ago via mobile</span>
          ·
          <a href="#" class="comment-like">like</a>
          <span class="display-likes">· 1</span>
        </div>
      </div>
    </div>
  </div>
</div>
